<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>文件上传与下ghjghjg载</title>
    <meta content="text/html" charset="UTF-8"/>
</head>
<body>
asdasd
<input type="file" id="file"/>11
<input type="button" id="fileBut" />
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="application/javascript">
    $("#fileBut").click(function(){
       alert(1)
    });
</script>
</body>
</html>